# Ignore node_modules folder
node_modules/

# Ignore .env files
.env
.env.local
.env.production

# Ignore log files
*.log

# Ignore Mac system files
.DS_Store

# Ignore npm debug log files
npm-debug.log*

# Ignore lock files


# Ignore Python files
*.py

# Ignore certs and custom local files
/certs/
.qodo
cert/
/Testhub/
/logs/
